*{font-family: 'Rubik', sans-serif;
-webkit-tap-highlight-color: transparent;
}@tailwind base;@tailwind components;@tailwind utilities;
::-webkit-scrollbar{ width: 2px;height: 2px; } ::-webkit-scrollbar-track{ background: #f1f1f1; } ::-webkit-scrollbar-thumb{ background: #888; border-radius: 6px; } ::-webkit-scrollbar-thumb:hover{ background: #555; }

*:focus{
    outline: none;

}


.loader{
    display:none;
}
.htmx-request .loader {
    display:flex;
}
.htmx-request.loader{
    display:flex;
}


#cats_loader{
    display:none;
}
.htmx-request #cats_loader {
    display:flex;
}
.htmx-request#cats_loader{
    display:flex;
}


.active{
    @apply font-medium p-4 border-b-2 border-primary-500;
}



.cats>div>label{
  @apply flex items-center gap-3  p-1.5 rounded border  bg-gray-800 text-gray-300 border-gray-700 text-sm shadow;
  }
  /* Assuming you have an input with the name 'categories' */
input[name="category"] {
  @apply w-4 h-4 text-primary-600   focus:ring-primary-600 ring-offset-gray-800 focus:ring-0 bg-gray-700 border-gray-600;
} 


.nolikeBtn:hover .nolikesvg{
        @apply text-red-500;
    }


.tribute h2{
   @apply text-3xl mb-2 text-white font-medium;
}
.tribute p{
  @apply mb-4 text-gray-200 text-base ;
}

.tribute h3{
  @apply text-2xl text-gray-200 mb-2;
}

.tribute a{
  @apply text-primary-500 hover:underline;
}


.croper-image{
  width: 100%;
}

#id_date_of_birth_month{
  @apply rounded-s-md ;
}

#id_date_of_birth_day{
  @apply rounded-none;
}

#id_date_of_birth_year{
  @apply rounded-e-md;
}
.tooltip {
    cursor: help;
    position: relative;
    text-align: center;
}

.tooltip .tooltiptext {
    bottom: 100%;
    display: block;
    width: 120px;
    left: 50%;
    margin-bottom: 15px;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%) translateY(10px);
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.tooltip:hover .tooltiptext {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0px);
}

/* CSS Triangles - see Trevor's post */
.tooltip .tooltiptext:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid black 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}


#webpush-message{
  @apply max-w-lg flex items-center p-4 my-3 text-sm  border  rounded-lg  bg-gray-800 text-blue-400 border-blue-800;
}

.htmx_errorbox{
  @apply flex items-center p-4 mb-4 text-sm  border  rounded shadow  text-red-400 border-red-800 fixed bottom-10 left-1/4;
  z-index: 3000000;

}