*{font-family: 'Rubik', sans-serif;}@tailwind base;@tailwind components;@tailwind utilities;
::-webkit-scrollbar{ width: 2px;height: 2px; } ::-webkit-scrollbar-track{ background: #f1f1f1; } ::-webkit-scrollbar-thumb{ background: #888; border-radius: 6px; } ::-webkit-scrollbar-thumb:hover{ background: #555; }
.loader{
    display:none;
}
.htmx-request .loader{
    display:flex;
}
.htmx-request.loader{
    display:flex;
}
.active{
    @apply font-medium p-4 border-b-2 border-primary-500;
}



.cats>div>label{
  @apply flex items-center gap-3 bg-white p-1.5 rounded border border-gray-100 text-sm shadow;
  }
  /* Assuming you have an input with the name 'categories' */
input[name="category"] {
  @apply w-4 h-4 text-primary-600 bg-gray-100 border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-0 dark:bg-gray-700 dark:border-gray-600;
} 


.nolikeBtn:hover .nolikesvg{
        @apply text-red-500;
    }


.tribute h2{
   @apply text-3xl mb-2 text-slate-600 font-medium;
}
.tribute p{
  @apply mb-4 text-base text-gray-700;
}

.tribute h3{
  @apply text-2xl mb-2 text-gray-600;
}

.tribute a{
  @apply text-primary-500 hover:underline;
}


.croper-image{
  width: 100%;
}