*{font-family: 'Rubik', sans-serif;}@tailwind base;@tailwind components;@tailwind utilities;
.active{
    @apply font-medium p-4 border-b-2 border-primary-500;
}


.glass {
    opacity: 0.9;
    backdrop-filter: blur(20px); 
    box-shadow: none;
}
.loader{
    display:none;
}
.htmx-request .loader{
    display:flex;
}
.htmx-request.loader{
    display:flex;
}
